<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Analytics</title>
</head>

<body>
    <h1>Cafe Analytics</h1>
    <p>Total Revenue: ₹{{ "%.2f"|format(total_revenue) }}</p>
    <p>Average Transaction: ₹{{ "%.2f"|format(avg_transaction) }}</p>
    <p>Total Transactions: {{ total_transactions }}</p>
    <a href="/dash/">View Detailed Dashboard</a>
    <br>
    <a href="/mba/">Market Basket Analysis</a>
</body>

</html>
